body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.jong-un {
    color: blue;

}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 75%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(blue, aqua);
    color: aliceblue;
    font-weight: 800;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/topbanner.jpg);
    background-size: cover;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
}

footer p {
    text-align: center;
}

#programming-hero-developer {
    border-left: 10px solid tomato;
}

#noob-developer {
    border-left: 10px solid blue;
}