body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.jong-un {
    color: blue;

}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 75%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(blue, aqua);
    color: aliceblue;
    font-weight: 800;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/topbanner.jpg);
}